################################################################################################################################################################################################

# Environment variables 

## Database configuration
DB_USER=user
DB_PASSWORD=password
DB_NAME=mydb
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

## JWT secrets
JWT_ACCESS_SECRET="changeme"
JWT_REFRESH_SECRET="changeme"

# URLs for frontend and backend
BASE_URL=http://localhost:5173
VITE_FRONTEND_URL=http://localhost:5173
VITE_BACKEND_URL=http://localhost:3000


# mobile
EXPO_PUBLIC_FIREBASE_API_KEY=your_api_key
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=your_auth_domain
EXPO_PUBLIC_FIREBASE_PROJECT_ID=your_project_id
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your_storage_bucket
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_messaging_sender_id
EXPO_PUBLIC_FIREBASE_APP_ID=your_app_id
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=your_measurement_id
EXPO_OS=web


################################################################################################################################################################################################
