minimumReleaseAge=1440
overrides.browserslist=4.28.4
overrides.caniuse-lite=1.0.30001801
overrides.@protobufjs/utf8=1.1.1
overrides.@typescript-eslint/eslint-plugin=8.62.0
overrides.@typescript-eslint/parser=8.62.0
overrides.@typescript-eslint/project-service=8.62.0
overrides.@typescript-eslint/scope-manager=8.62.0
overrides.@typescript-eslint/types=8.62.0
overrides.@typescript-eslint/typescript-estree=8.62.0
overrides.@typescript-eslint/utils=8.62.0
overrides.@typescript-eslint/visitor-keys=8.62.0